
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  background: #f4f6fb;
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 }

 .main {
  width: 100%;
  max-width: 1000px;
  display: flex;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.09);
 }

 .logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
 }

 .logo img {
  max-width: 100%;
  height: auto;
 }

 .card {
  width: 50%;
  background: white;
  padding: 5%;
 }

 .card h2 {
  color: blue;
  text-align: center;
  margin-bottom: 20px;
 }

 .form-group {
  margin-bottom: 18px;
 }

 .label {
  font-weight: bold;
  font-size: 15px;
 }

 .input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 18px;
  border: 1px solid #ccc;
  font-size: 16px;
 }

 .input:focus {
  outline: none;
  border-color: #1e3a8a;
 }

 .btn-primary {
  width: 100%;
  background: #1e3a8a;
  color: white;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s ease;
  border: none;
 }

 .btn-primary:hover {
  background: #163172;
 }

 .btn-register,
 .btn-forget {
  display: block;
  text-decoration: none;
  color: #1e3a8a;
  margin-top: 10px;
  font-size: 16px;
  transition: 0.3s ease;
 }

 .btn-register:hover,
 .btn-forget:hover {
  text-decoration: underline;
 }
